/**
 * @file
 * Styling for contextual module's toolbar tab.
 */

/* Tab icon. */
.icon-edit:before {
  background-image: url(../../../misc/edit.png);
}
.icon-edit:active:before,
.active.icon-edit:before {
  background-image: url(../../../misc/edit-active.png);
}

/* Tab appearance. */
.js .toolbar .bar .contextual-toolbar-tab.tab {
  float: right; /* LTR */
}
.js .toolbar .bar .contextual-toolbar-tab button {
  padding-bottom: 1em;
  padding-top: 1em;
  /* Hide tab text. */
  padding-left: 1.3333em; /* LTR */
  text-indent: -9999px;
  line-height: 1em;
}
.js .toolbar .bar .contextual-toolbar-tab button.active {
  background-image:-moz-linear-gradient(rgb(78,159,234) 0%,rgb(69,132,221) 100%);
  background-image:-webkit-gradient(linear,color-stop(0, rgb(78,159,234)),color-stop(1, rgb(69,132,221)));
  background-image: -webkit-linear-gradient(top,  rgb(78,159,234) 0%, rgb(69,132,221) 100%);
  background-image:linear-gradient(rgb(78,159,234) 0%,rgb(69,132,221) 100%);
}

/* @todo get rid of this declaration by making toolbar.module's CSS less specific */
.js .toolbar .bar .contextual-toolbar-tab.tab.hidden {
  display: none;
}
