{#
/**
 * @file
 * Seven's theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Navigation:
 * - main_menu: The Main menu links for the site, if they have been configured.
 * - secondary_menu: The Secondary menu links for the site, if they have been
 *   configured.
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - feed_icons: All feed icons for the current page.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess()
 * @see template_preprocess_page()
 * @see seven_preprocess_page()
 * @see template_process()
 * @see template_process_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
  <header id="branding" class="clearfix" role="navigation">
    {{ breadcrumb }}
    {{ title_prefix }}
    {% if title %}
      <h1 class="page-title">{{ title }}</h1>
    {% endif %}
    {{ title_suffix }}
    {% if primary_local_tasks %}
      {{ primary_local_tasks }}
    {% endif %}
  </header>

  <div id="page">
    {% if secondary_local_tasks %}
      <div class="tabs-secondary clearfix" role="navigation">{{ secondary_local_tasks }}</div>
    {% endif %}

    <main id="content" class="clearfix" role="main">
      <div class="visually-hidden"><a id="main-content"></a></div>
      {% if messages %}
        <div id="console" class="clearfix">{{ messages }}</div>
      {% endif %}
      {% if page.help %}
        <div id="help">
          {{ page.help }}
        </div>
      {% endif %}
      {% if action_links %}
        <ul class="action-links">
          {{ action_links }}
        </ul>
      {% endif %}
      {{ page.content }}
    </main>

    <footer id="footer" role="contentinfo">
      {{ feed_icons }}
    </footer>

  </div>
