/**
 * @file
 * RTL styles for administration pages.
 */

/**
 * Administration blocks.
 */
div.admin-panel .body {
  padding: 0 8px 2px 4px;
}
@media screen and (min-width: 40em) {
  div.admin .left {
    float: right;
    margin-left: 0;
    margin-right: 1em;
  }
  div.admin .right {
    float: left;
    margin-left: 1em;
    margin-right: 0;
  }
}
div.admin .expert-link {
  margin-right: 0;
  margin-left: 1em;
  padding-right: 0;
  padding-left: 4px;
  text-align: left;
}

/**
 * Status report.
 */
table.system-status-report td.status-icon {
  padding-left: 0;
  padding-right: 6px;
}

/**
 * Appearance page.
 */
/**
* Theme display without vertical toolbar.
*/
@media screen and (min-width: 45em) {
  body:not(.toolbar-vertical) .system-themes-list-enabled .screenshot,
  body:not(.toolbar-vertical) .system-themes-list-enabled .no-screenshot {
    float: right;
    margin: 0 0 0 20px;
  }
  body:not(.toolbar-vertical) .system-themes-list-disabled .theme-selector {
    float: right;
    padding: 20px 0 20px 20px;
  }
}

/**
* Theme display with vertical toolbar.
*/
@media screen and (min-width: 60em) {
  .toolbar-vertical .system-themes-list-enabled .screenshot,
  .toolbar-vertical .system-themes-list-enabled .no-screenshot {
    float: right;
    margin: 0 0 0 20px;
  }
  .toolbar-vertical .system-themes-list-disabled .theme-selector {
    float: right;
    padding: 20px 0 20px 20px;
  }
}
.theme-selector .operations li {
  float: right;
  border-left: 1px solid #cdcdcd;
  border-right: none;
}
.theme-selector .operations li.last {
  padding: 0 0.7em 0 0;
  border-left: none;
}
.theme-selector .operations li.first {
  padding: 0 0 0 0.7em;
}

/**
 * Exposed filters.
 */
.exposed-filters .filters {
  float: right;
  margin-left: 1em;
  margin-right: 0;
}
.exposed-filters .form-item label {
  float: right;
}
/* Current filters */
.exposed-filters .additional-filters {
  float: right;
  margin-left: 1em;
  margin-right: 0;
}
