.l-container:after, main:after, body > header:after,
body > footer:after {
  content: "";
  display: table;
  clear: both;
}

[class*="l-s-"], [class*="l-m-"], [class*="l-l-"], [class*="l-xl-"], [class*="l-xxl-"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.l-container:after, main:after, body > header:after,
body > footer:after {
  content: "";
  display: table;
  clear: both;
}

/* Small (4 Column) Grid */
[class*="l-s-"] {
  float: left;
  clear: right;
  margin-right: 5.26316%;
}
[dir="rtl"] [class*="l-s-"] {
  float: right;
  clear: left;
}
[dir="rtl"] [class*="l-s-"] {
  margin-left: 5.26316%;
}

.l-s-full {
  width: 100%;
  float: left;
  clear: both;
}
[dir="rtl"] .l-s-full {
  float: right;
}

.l-s-alpha {
  clear: both;
}

.l-s-omega {
  float: right;
  margin-right: 0;
}
[dir="rtl"] .l-s-omega {
  float: left;
  margin-left: 0;
}

.l-s-1-4 {
  width: 21.05263%;
}

.l-s-2-4 {
  width: 47.36842%;
}

.l-s-1-2 {
  width: 44.44444%;
}

.l-s-3-4 {
  width: 73.68421%;
}

.l-s-1-3 {
  width: 28.57143%;
}

.l-s-2-3 {
  width: 64.28571%;
}

/* Medium (6 Column) Grid */
/* Begins at 500px */
[class*="l-m-"] {
  float: left;
  clear: right;
}
[dir="rtl"] [class*="l-m-"] {
  float: right;
  clear: left;
}
@media (min-width: 31.25em) {
  [class*="l-m-"] {
    margin-right: 3.44828%;
  }
  [dir="rtl"] [class*="l-m-"] {
    margin-left: 3.44828%;
  }
}

@media (min-width: 31.25em) {
  .l-m-full {
    width: 100%;
    float: left;
    clear: both;
  }
  [dir="rtl"] .l-m-full {
    float: right;
  }

  .l-m-alpha {
    clear: both;
  }

  .l-m-omega {
    float: right;
    margin-right: 0;
  }
  [dir="rtl"] .l-m-omega {
    float: left;
    margin-left: 0;
  }

  .l-m-1-6 {
    width: 13.7931%;
  }

  .l-m-2-6 {
    width: 31.03448%;
  }

  .l-m-1-2 {
    width: 44.44444%;
  }

  .l-m-3-6 {
    width: 48.27586%;
  }

  .l-m-1-3 {
    width: 28.57143%;
  }

  .l-m-2-3 {
    width: 64.28571%;
  }

  .l-m-4-6 {
    width: 65.51724%;
  }

  .l-m-1-4 {
    width: 21.05263%;
  }

  .l-m-2-4 {
    width: 47.36842%;
  }

  .l-m-3-4 {
    width: 73.68421%;
  }

  .l-m-5-6 {
    width: 82.75862%;
  }

  .l-m-1-5 {
    width: 16.66667%;
  }

  .l-m-2-5 {
    width: 37.5%;
  }

  .l-m-3-5 {
    width: 58.33333%;
  }

  .l-m-4-5 {
    width: 79.16667%;
  }
}
/* Large (8 Column) Grid */
/* Begins at 700px */
[class*="l-l-"] {
  float: left;
  clear: right;
}
[dir="rtl"] [class*="l-l-"] {
  float: right;
  clear: left;
}
@media (min-width: 43.75em) {
  [class*="l-l-"] {
    margin-right: 2.5641%;
  }
  [dir="rtl"] [class*="l-l-"] {
    margin-left: 2.5641%;
  }
}

@media (min-width: 43.75em) {
  .l-l-full {
    width: 100%;
    float: left;
    clear: both;
  }
  [dir="rtl"] .l-l-full {
    float: right;
  }

  .l-l-alpha {
    clear: both;
  }

  .l-l-omega {
    float: right;
    margin-right: 0;
  }
  [dir="rtl"] .l-l-omega {
    float: left;
    margin-left: 0;
  }

  .l-l-1-8 {
    width: 10.25641%;
  }

  .l-l-2-8 {
    width: 23.07692%;
  }

  .l-l-1-2 {
    width: 44.44444%;
  }

  .l-l-3-8 {
    width: 35.89744%;
  }

  .l-l-1-3 {
    width: 28.57143%;
  }

  .l-l-2-3 {
    width: 64.28571%;
  }

  .l-l-4-8 {
    width: 48.71795%;
  }

  .l-l-1-4 {
    width: 21.05263%;
  }

  .l-l-2-4 {
    width: 47.36842%;
  }

  .l-l-3-4 {
    width: 73.68421%;
  }

  .l-l-5-8 {
    width: 61.53846%;
  }

  .l-l-1-5 {
    width: 16.66667%;
  }

  .l-l-2-5 {
    width: 37.5%;
  }

  .l-l-3-5 {
    width: 58.33333%;
  }

  .l-l-4-5 {
    width: 79.16667%;
  }

  .l-l-6-8 {
    width: 74.35897%;
  }

  .l-l-1-6 {
    width: 13.7931%;
  }

  .l-l-2-6 {
    width: 31.03448%;
  }

  .l-l-3-6 {
    width: 48.27586%;
  }

  .l-l-4-6 {
    width: 65.51724%;
  }

  .l-l-5-6 {
    width: 82.75862%;
  }

  .l-l-7-8 {
    width: 87.17949%;
  }

  .l-l-1-7 {
    width: 11.76471%;
  }

  .l-l-2-7 {
    width: 26.47059%;
  }

  .l-l-3-7 {
    width: 41.17647%;
  }

  .l-l-4-7 {
    width: 55.88235%;
  }

  .l-l-5-7 {
    width: 70.58824%;
  }

  .l-l-6-7 {
    width: 85.29412%;
  }
}
/* Extra Large (12 Column) Grid */
/* Begins at 900px */
[class*="l-xl-"] {
  float: left;
  clear: right;
}
[dir="rtl"] [class*="l-xl-"] {
  float: right;
  clear: left;
}
@media (min-width: 56.25em) {
  [class*="l-xl-"] {
    margin-right: 2.12766%;
  }
  [dir="rtl"] [class*="l-xl-"] {
    margin-left: 2.12766%;
  }
}

@media (min-width: 56.25em) {
  .l-xl-full {
    width: 100%;
    float: left;
    clear: both;
  }
  [dir="rtl"] .l-xl-full {
    float: right;
  }

  .l-xl-alpha {
    clear: both;
  }

  .l-xl-omega {
    float: right;
    margin-right: 0;
  }
  [dir="rtl"] .l-xl-omega {
    float: left;
    margin-left: 0;
  }

  .l-xl-1-12 {
    width: 6.38298%;
  }

  .l-xl-2-12 {
    width: 14.89362%;
  }

  .l-xl-1-2 {
    width: 42.85714%;
  }

  .l-xl-3-12 {
    width: 23.40426%;
  }

  .l-xl-1-3 {
    width: 27.27273%;
  }

  .l-xl-2-3 {
    width: 63.63636%;
  }

  .l-xl-4-12 {
    width: 31.91489%;
  }

  .l-xl-1-4 {
    width: 20%;
  }

  .l-xl-2-4 {
    width: 46.66667%;
  }

  .l-xl-3-4 {
    width: 73.33333%;
  }

  .l-xl-5-12 {
    width: 40.42553%;
  }

  .l-xl-1-5 {
    width: 15.78947%;
  }

  .l-xl-2-5 {
    width: 36.84211%;
  }

  .l-xl-3-5 {
    width: 57.89474%;
  }

  .l-xl-4-5 {
    width: 78.94737%;
  }

  .l-xl-6-12 {
    width: 48.93617%;
  }

  .l-xl-1-6 {
    width: 13.04348%;
  }

  .l-xl-2-6 {
    width: 30.43478%;
  }

  .l-xl-3-6 {
    width: 47.82609%;
  }

  .l-xl-4-6 {
    width: 65.21739%;
  }

  .l-xl-5-6 {
    width: 82.6087%;
  }

  .l-xl-7-12 {
    width: 57.44681%;
  }

  .l-xl-1-7 {
    width: 11.11111%;
  }

  .l-xl-2-7 {
    width: 25.92593%;
  }

  .l-xl-3-7 {
    width: 40.74074%;
  }

  .l-xl-4-7 {
    width: 55.55556%;
  }

  .l-xl-5-7 {
    width: 70.37037%;
  }

  .l-xl-6-7 {
    width: 85.18519%;
  }

  .l-xl-8-12 {
    width: 65.95745%;
  }

  .l-xl-1-8 {
    width: 9.67742%;
  }

  .l-xl-2-8 {
    width: 22.58065%;
  }

  .l-xl-3-8 {
    width: 35.48387%;
  }

  .l-xl-4-8 {
    width: 48.3871%;
  }

  .l-xl-5-8 {
    width: 61.29032%;
  }

  .l-xl-6-8 {
    width: 74.19355%;
  }

  .l-xl-7-8 {
    width: 87.09677%;
  }

  .l-xl-9-12 {
    width: 74.46809%;
  }

  .l-xl-1-9 {
    width: 8.57143%;
  }

  .l-xl-2-9 {
    width: 20%;
  }

  .l-xl-3-9 {
    width: 31.42857%;
  }

  .l-xl-4-9 {
    width: 42.85714%;
  }

  .l-xl-5-9 {
    width: 54.28571%;
  }

  .l-xl-6-9 {
    width: 65.71429%;
  }

  .l-xl-7-9 {
    width: 77.14286%;
  }

  .l-xl-8-9 {
    width: 88.57143%;
  }

  .l-xl-10-12 {
    width: 82.97872%;
  }

  .l-xl-1-10 {
    width: 7.69231%;
  }

  .l-xl-2-10 {
    width: 17.94872%;
  }

  .l-xl-3-10 {
    width: 28.20513%;
  }

  .l-xl-4-10 {
    width: 38.46154%;
  }

  .l-xl-5-10 {
    width: 48.71795%;
  }

  .l-xl-6-10 {
    width: 58.97436%;
  }

  .l-xl-7-10 {
    width: 69.23077%;
  }

  .l-xl-8-10 {
    width: 79.48718%;
  }

  .l-xl-9-10 {
    width: 89.74359%;
  }

  .l-xl-11-12 {
    width: 91.48936%;
  }

  .l-xl-1-11 {
    width: 6.97674%;
  }

  .l-xl-2-11 {
    width: 16.27907%;
  }

  .l-xl-3-11 {
    width: 25.5814%;
  }

  .l-xl-4-11 {
    width: 34.88372%;
  }

  .l-xl-5-11 {
    width: 44.18605%;
  }

  .l-xl-6-11 {
    width: 53.48837%;
  }

  .l-xl-7-11 {
    width: 62.7907%;
  }

  .l-xl-8-11 {
    width: 72.09302%;
  }

  .l-xl-9-11 {
    width: 81.39535%;
  }

  .l-xl-10-11 {
    width: 90.69767%;
  }
}
/* Extra Extra Large (16 Column) Grid */
/* Begins at 1100px */
[class*="l-xxl-"] {
  float: left;
  clear: right;
}
[dir="rtl"] [class*="l-xxl-"] {
  float: right;
  clear: left;
}
@media (min-width: 68.75em) {
  [class*="l-xxl-"] {
    margin-right: 1.5873%;
  }
  [dir="rtl"] [class*="l-xxl-"] {
    margin-left: 1.5873%;
  }
}

@media (min-width: 68.75em) {
  .l-xxl-full {
    width: 100%;
    float: left;
    clear: both;
  }
  [dir="rtl"] .l-xxl-full {
    float: right;
  }

  .l-xxl-alpha {
    clear: both;
  }

  .l-xxl-omega {
    float: right;
    margin-right: 0;
  }
  [dir="rtl"] .l-xxl-omega {
    float: left;
    margin-left: 0;
  }

  .l-xxl-1-16 {
    width: 4.7619%;
  }

  .l-xxl-2-16 {
    width: 11.11111%;
  }

  .l-xxl-1-2 {
    width: 42.85714%;
  }

  .l-xxl-3-16 {
    width: 17.46032%;
  }

  .l-xxl-1-3 {
    width: 27.27273%;
  }

  .l-xxl-2-3 {
    width: 63.63636%;
  }

  .l-xxl-4-16 {
    width: 23.80952%;
  }

  .l-xxl-1-4 {
    width: 20%;
  }

  .l-xxl-2-4 {
    width: 46.66667%;
  }

  .l-xxl-3-4 {
    width: 73.33333%;
  }

  .l-xxl-5-16 {
    width: 30.15873%;
  }

  .l-xxl-1-5 {
    width: 15.78947%;
  }

  .l-xxl-2-5 {
    width: 36.84211%;
  }

  .l-xxl-3-5 {
    width: 57.89474%;
  }

  .l-xxl-4-5 {
    width: 78.94737%;
  }

  .l-xxl-6-16 {
    width: 36.50794%;
  }

  .l-xxl-1-6 {
    width: 13.04348%;
  }

  .l-xxl-2-6 {
    width: 30.43478%;
  }

  .l-xxl-3-6 {
    width: 47.82609%;
  }

  .l-xxl-4-6 {
    width: 65.21739%;
  }

  .l-xxl-5-6 {
    width: 82.6087%;
  }

  .l-xxl-7-16 {
    width: 42.85714%;
  }

  .l-xxl-1-7 {
    width: 11.11111%;
  }

  .l-xxl-2-7 {
    width: 25.92593%;
  }

  .l-xxl-3-7 {
    width: 40.74074%;
  }

  .l-xxl-4-7 {
    width: 55.55556%;
  }

  .l-xxl-5-7 {
    width: 70.37037%;
  }

  .l-xxl-6-7 {
    width: 85.18519%;
  }

  .l-xxl-8-16 {
    width: 49.20635%;
  }

  .l-xxl-1-8 {
    width: 9.67742%;
  }

  .l-xxl-2-8 {
    width: 22.58065%;
  }

  .l-xxl-3-8 {
    width: 35.48387%;
  }

  .l-xxl-4-8 {
    width: 48.3871%;
  }

  .l-xxl-5-8 {
    width: 61.29032%;
  }

  .l-xxl-6-8 {
    width: 74.19355%;
  }

  .l-xxl-7-8 {
    width: 87.09677%;
  }

  .l-xxl-9-16 {
    width: 55.55556%;
  }

  .l-xxl-1-9 {
    width: 8.57143%;
  }

  .l-xxl-2-9 {
    width: 20%;
  }

  .l-xxl-3-9 {
    width: 31.42857%;
  }

  .l-xxl-4-9 {
    width: 42.85714%;
  }

  .l-xxl-5-9 {
    width: 54.28571%;
  }

  .l-xxl-6-9 {
    width: 65.71429%;
  }

  .l-xxl-7-9 {
    width: 77.14286%;
  }

  .l-xxl-8-9 {
    width: 88.57143%;
  }

  .l-xxl-10-16 {
    width: 61.90476%;
  }

  .l-xxl-1-10 {
    width: 7.69231%;
  }

  .l-xxl-2-10 {
    width: 17.94872%;
  }

  .l-xxl-3-10 {
    width: 28.20513%;
  }

  .l-xxl-4-10 {
    width: 38.46154%;
  }

  .l-xxl-5-10 {
    width: 48.71795%;
  }

  .l-xxl-6-10 {
    width: 58.97436%;
  }

  .l-xxl-7-10 {
    width: 69.23077%;
  }

  .l-xxl-8-10 {
    width: 79.48718%;
  }

  .l-xxl-9-10 {
    width: 89.74359%;
  }

  .l-xxl-11-16 {
    width: 68.25397%;
  }

  .l-xxl-1-11 {
    width: 6.97674%;
  }

  .l-xxl-2-11 {
    width: 16.27907%;
  }

  .l-xxl-3-11 {
    width: 25.5814%;
  }

  .l-xxl-4-11 {
    width: 34.88372%;
  }

  .l-xxl-5-11 {
    width: 44.18605%;
  }

  .l-xxl-6-11 {
    width: 53.48837%;
  }

  .l-xxl-7-11 {
    width: 62.7907%;
  }

  .l-xxl-8-11 {
    width: 72.09302%;
  }

  .l-xxl-9-11 {
    width: 81.39535%;
  }

  .l-xxl-10-11 {
    width: 90.69767%;
  }

  .l-xxl-12-16 {
    width: 74.60317%;
  }

  .l-xxl-1-12 {
    width: 6.38298%;
  }

  .l-xxl-2-12 {
    width: 14.89362%;
  }

  .l-xxl-3-12 {
    width: 23.40426%;
  }

  .l-xxl-4-12 {
    width: 31.91489%;
  }

  .l-xxl-5-12 {
    width: 40.42553%;
  }

  .l-xxl-6-12 {
    width: 48.93617%;
  }

  .l-xxl-7-12 {
    width: 57.44681%;
  }

  .l-xxl-8-12 {
    width: 65.95745%;
  }

  .l-xxl-9-12 {
    width: 74.46809%;
  }

  .l-xxl-10-12 {
    width: 82.97872%;
  }

  .l-xxl-11-12 {
    width: 91.48936%;
  }

  .l-xxl-13-16 {
    width: 80.95238%;
  }

  .l-xxl-1-13 {
    width: 5.88235%;
  }

  .l-xxl-2-13 {
    width: 13.72549%;
  }

  .l-xxl-3-13 {
    width: 21.56863%;
  }

  .l-xxl-4-13 {
    width: 29.41176%;
  }

  .l-xxl-5-13 {
    width: 37.2549%;
  }

  .l-xxl-6-13 {
    width: 45.09804%;
  }

  .l-xxl-7-13 {
    width: 52.94118%;
  }

  .l-xxl-8-13 {
    width: 60.78431%;
  }

  .l-xxl-9-13 {
    width: 68.62745%;
  }

  .l-xxl-10-13 {
    width: 76.47059%;
  }

  .l-xxl-11-13 {
    width: 84.31373%;
  }

  .l-xxl-12-13 {
    width: 92.15686%;
  }

  .l-xxl-14-16 {
    width: 87.30159%;
  }

  .l-xxl-1-14 {
    width: 5.45455%;
  }

  .l-xxl-2-14 {
    width: 12.72727%;
  }

  .l-xxl-3-14 {
    width: 20%;
  }

  .l-xxl-4-14 {
    width: 27.27273%;
  }

  .l-xxl-5-14 {
    width: 34.54545%;
  }

  .l-xxl-6-14 {
    width: 41.81818%;
  }

  .l-xxl-7-14 {
    width: 49.09091%;
  }

  .l-xxl-8-14 {
    width: 56.36364%;
  }

  .l-xxl-9-14 {
    width: 63.63636%;
  }

  .l-xxl-10-14 {
    width: 70.90909%;
  }

  .l-xxl-11-14 {
    width: 78.18182%;
  }

  .l-xxl-12-14 {
    width: 85.45455%;
  }

  .l-xxl-13-14 {
    width: 92.72727%;
  }

  .l-xxl-15-16 {
    width: 93.65079%;
  }

  .l-xxl-1-15 {
    width: 5.08475%;
  }

  .l-xxl-2-15 {
    width: 11.86441%;
  }

  .l-xxl-3-15 {
    width: 18.64407%;
  }

  .l-xxl-4-15 {
    width: 25.42373%;
  }

  .l-xxl-5-15 {
    width: 32.20339%;
  }

  .l-xxl-6-15 {
    width: 38.98305%;
  }

  .l-xxl-7-15 {
    width: 45.76271%;
  }

  .l-xxl-8-15 {
    width: 52.54237%;
  }

  .l-xxl-9-15 {
    width: 59.32203%;
  }

  .l-xxl-10-15 {
    width: 66.10169%;
  }

  .l-xxl-11-15 {
    width: 72.88136%;
  }

  .l-xxl-12-15 {
    width: 79.66102%;
  }

  .l-xxl-13-15 {
    width: 86.44068%;
  }

  .l-xxl-14-15 {
    width: 93.22034%;
  }
}
.l-container, main {
  max-width: 1290px;
  padding: .25em .5em;
  margin: 0 auto;
}
