.colored-banner, body > header {
  background: #48a9e4;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0779bf), color-stop(100%, #48a9e4));
  background: -webkit-linear-gradient(top, #0779bf, #48a9e4);
  background: -moz-linear-gradient(top, #0779bf, #48a9e4);
  background: -o-linear-gradient(top, #0779bf, #48a9e4);
  background: linear-gradient(top, #0779bf, #48a9e4);
}

.colored-footer, body > footer {
  background: #292929;
  color: #c0c0c0;
  color: rgba(255, 255, 255, 0.65);
}
.colored-footer a, body > footer a {
  color: #fefefe;
  color: rgba(255, 255, 255, 0.8);
}
.colored-footer a:hover, body > footer a:hover {
  color: rgba(255, 255, 255, 0.95);
}

body > footer {
  padding: 2em;
}
