/**
 * Override of misc/vertical-tabs-rtl.css.
 */
.vertical-tabs-list {
  float: right;
  margin: 0 0 -1px -100%;
}
.vertical-tab-button.selected {
  border-left: 1px solid #fcfcfa;
}
html.js .vertical-tabs-panes {
  margin: 0 240px 0 0;
  border-left: none;
  border-right: 1px solid #a6a5a1;
}
