{#

Generic Block Template!

what goes in header?

#}

{% if semantics %}
  {# @todo our final goal for this is:
  <{{ semantics }} {{ id }} {{ classes }} {{ aria }} {{ attributes }}>
  #}
  <{{ semantics }}{{ attributes }}>
  {% if semantics != 'span' %}
    <header>
      {% if title %}{{ title }}{% endif %}
    </header>
  {% endif %}
{% endif %}
{{ content }}

{% if semantics %}
  </{{ semantics }}>
{% endif %}