{#

Template for region groups, which are just thin containers for blocks.

#}
{% if semantics %}<{{ semantics }}{{ attributes }}>{% endif %}
  {{ content }}
{% if semantics %}</{{ semantics }}>{% endif %}