{#
/**
 * @file
 * Default theme implementation to display a page in the overlay.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - content_attributes: HTML attributes for the content.
 * - title_attributes: HTML attributes for the title.
 * - title: The (sanitized) title of the page.
 * - page: The rendered page content.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - disable_overlay: The message about how to disable the overlay.
 *
 * @see template_preprocess()
 * @see template_preprocess_overlay()
 *
 * @ingroup themeable
 */
#}
{{ disable_overlay }}
<div{{ attributes }}>
  <div id="overlay-titlebar" class="clearfix">
    <div id="overlay-title-wrapper" class="clearfix">
      <h1{{ title_attributes }}>{{ title }}</h1>
    </div>
    <div id="overlay-close-wrapper">
      <a id="overlay-close" href="#" class="overlay-close" role="button" aria-controls="overlay-content"><span class="visually-hidden">{{ 'Close overlay'|t }}</span></a>
    </div>
    {% if tabs %}
      <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2><ul id="overlay-tabs">{{ tabs }}</ul>
    {% endif %}
  </div>
  <div{{ content_attributes }}>
    {{ page }}
  </div>
</div>
