{#

@file
Bartik's primary frontend layout implementation.


The doctype, html, head, and body tags are not in this template. Instead
they can be found in the html.tpl.php template normally located in the
core/modules/system directory.

Available variables:

General utility variables:
- base_path: The base URL path of the Drupal installation. At the very
  least, this will always default to /.
- directory: The directory the template is located in, e.g. modules/system
  or themes/bartik.
- is_front: TRUE if the current page is the front page.
- logged_in: TRUE if the user is registered and signed in.
- is_admin: TRUE if the user has permission to access administration pages.

Site identity:
- front_page: The URL of the front page. Use this instead of base_path,
  when linking to the front page. This includes the language domain or
  prefix.
- logo: The path to the logo image, as defined in theme configuration.
- site_name: The name of the site, empty when display has been disabled
  in theme settings.
- site_slogan: The slogan of the site, empty when display has been disabled
  in theme settings.
- hide_site_name: TRUE if the site name has been toggled off on the theme
  settings page. If hidden, the "element-invisible" class is added to make
  the site name visually hidden, but still accessible.
- hide_site_slogan: TRUE if the site slogan has been toggled off on the
  theme settings page. If hidden, the "element-invisible" class is added to
  make the site slogan visually hidden, but still accessible.

Navigation:
- main_menu (array): An array containing the Main menu links for the
  site, if they have been configured.
- secondary_menu (array): An array containing the Secondary menu links for
  the site, if they have been configured.
- breadcrumb: The breadcrumb trail for the current page.

Page content (in order of occurrence in the default page.tpl.php):
- title_prefix (array): An array containing additional output populated by
  modules, intended to be displayed in front of the main title tag that
  appears in the template.
- title: The page title, for use in the actual HTML content.
- title_suffix (array): An array containing additional output populated by
  modules, intended to be displayed after the main title tag that appears in
  the template.
- messages: HTML for status and error messages. Should be displayed
  prominently.
- tabs (array): Tabs linking to any sub-pages beneath the current page
  (e.g., the view and edit tabs when displaying a node).
- action_links (array): Actions local to the page, such as 'Add menu' on
  the menu administration interface.
- feed_icons: A string of all feed icons for the current page.
- node: The node entity, if there is an automatically-loaded node
  associated with the page, and the node ID is the second argument
  in the page's path (e.g. node/12345 and node/12345/revisions, but not
  comment/reply/12345).

Regions:
- content.header: Items for the header region.
- content.featured: Items for the featured region.
- content.highlighted: Items for the highlighted content region.
- content.help: Dynamic help text, mostly for admin pages.
- content.content: The main content of the current page.
- content.sidebar_first: Items for the first sidebar.
- content.sidebar_second: Items for the second sidebar.
- content.triptych_first: Items for the first triptych.
- content.triptych_middle: Items for the middle triptych.
- content.triptych_last: Items for the last triptych.
- content.footer_firstcolumn: Items for the first footer column.
- content.footer_secondcolumn: Items for the second footer column.
- content.footer_thirdcolumn: Items for the third footer column.
- content.footer_fourthcolumn: Items for the fourth footer column.
- content.footer: Items for the footer region.

@see template_preprocess()
@see template_preprocess_content()
@see template_process()
@see bartik_process_page()
@see html.tpl.php

@ingroup themeable

#}

{# system is emitted before & above everything else #}
{% if content.system %}{{ content.system }}{% endif %}

<div id="page">
  <header id="header" role="banner"><div class="section clearfix">
    {# @todo remove/replace this hardcoding. #}
    {% if secondary_nav %}
      <nav id="secondary-menu" class="navigation" role="navigation">
        {{ secondary_nav }}
      </nav>
    {% endif %}

    {# @todo remove/replace this hardcoding. #}
    {% if logo %}
      <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home" id="logo">
        <img src="{{ logo }}" alt="{{ 'Home'|t }}" />
      </a>
    {% endif %}

    {# @todo remove/replace aaaaall this hardcoding. #}
    {% if site_name or site_slogan %}
      <div id="name-and-slogan" {% if hide_site_name and hide_site_slogan %}class="element-invisible"{% endif %}>
        {% if site_name %}
          {% if title %}
            <div id="site-name" {% if hide_site_name %}class="element-invisible"{% endif %}>
              <strong>
                <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home"><span><{{ site_name }}></span></a>
              </strong>
            </div>
          {% else %}
            <h1 id="site-name" {% if hide_site_name %}class="element-invisible"{% endif %}>
              <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home"><span><{{ site_name }}></span></a>
            </h1>
          {% endif %}
        {% endif %}

        {% if site_slogan %}
          <div id="site-slogan" {% if hide_site_slogan %}class="element-invisible"{% endif %}>
            {{ site_slogan }}
          </div>
        {% endif %}

      </div>
    {% endif %}

    {{ content.header }}

    {# @todo remove/replace this hardcoding. #}
    {% if primary_nav %}
      <nav id="main-menu" class="navigation" role="navigation">
        {{ primary_nav }}
      </nav>
    {% endif %}

  </div></header>


  {# @todo remove/replace this hardcoding. #}
  {% if messages %}
    <div id="messages"><div class="section clearfix">
      {{ messages }}
    </div></div>
  {% endif %}


  {% if content.featured %}
    <aside id="featured"><div class="section clearfix">
      {{ content.featured }}
    </div></aside>
  {% endif %}


  <div id="main-wrapper" class="clearfix"><div id="main" class="clearfix">
    {{ breadcrumb }} {# @todo remove/replace this hardcoding. #}
    <main id="content" class="column" role="main"><section class="section">
      {% if content.highlighted %}
        <div id="highlighted">
          {{ content.highlighted }}
        </div>
      {% endif %}

      <a id="main-content"></a>

      {# @todo remove/replace this hardcoding. #}
      {{ title_prefix }}
      {% if title %}
        <h1 class="title" id="page-title">
          {{ title }}
        </h1>
      {% endif %}
      {{ title_suffix }}

      {# @todo remove/replace this hardcoding. #}
      {% if tabs %}
        <nav class="tabs" role="navigation">
          {{ tabs }}
        </nav>
      {% endif %}

      {# @todo content.help should probably be a block, not a region #}
      {{ content.help }}

      {# @todo remove/replace this hardcoding. #}
      {% if action_links %}
        <ul class="action-links">
          {{ action_links }}
        </ul>
      {% endif %}

      {{ content.content }}

      {# @todo remove/replace this hardcoding. #}
      {{ feed_icons }}

    </section></main>

    {% if content.sidebar_first %}
      <div id="sidebar-first" class="column sidebar"><aside class="section">
        {{ content.sidebar_first }}
      </aside></div>
    {% endif %}

    {% if content.sidebar_second %}
      <div id="sidebar-first" class="column sidebar"><aside class="section">
        {{ content.sidebar_first }}
      </aside></div>
    {% endif %}

  </div></div>


  {% if content.triptych_first or content.triptych_middle or content.triptych_last %}
    <div id="triptych-wrapper"><aside id="triptych" class="clearfix">
      {{ content.triptych_first }}
      {{ content.triptych_middle }}
      {{ content.triptych_last }}
    </aside></div>
  {% endif %}


  <div id="footer-wrapper"><footer class="section" role="contentinfo">
    {% if content.footer_firstcolumn or content.footer_secondcolumn
       or content.footer_thirdcolumn or content.footer_fourthcolumn %}
      <div id="footer-columns" class="clearfix">
        {{ content.footer_firstcolumn }}
        {{ content.footer_secondcolumn }}
        {{ content.footer_thirdcolumn }}
        {{ content.footer_fourthcolumn }}
      </div>
    {% endif %}

    {% if content.footer %}
      <div id="footer" role="contentinfo" class="clearfix">
        {{ content.footer }}
      </div>
    {% endif %}
  </footer></div>

</div>
