{#
/**
 * @file
 * Default theme implementation to present feeds as list items.
 *
 * Each iteration generates a single feed source or category.
 *
 * Available variables:
 * - title: Title of the feed or category.
 * - summary_list: Unordered list of linked feed items generated through
 *   theme_item_list().
 * - source_url: URL to the local source or category.
 *
 * @see template_preprocess()
 * @see template_preprocess_aggregator_summary_items()
 *
 * @ingroup themeable
 */
#}
<h3>{{ title }}</h3>
{{ summary_list }}
<div class="links">
  <a href="{{ source_url }}">{{ 'More<span class="visually-hidden"> posts about %title</span>'|t({ '%title': title }) }}</a>
</div>
