{#

@file
Core's primary frontend layout implementation.


The doctype, html, head, and body tags are not in this template; they are handled by the "html" template.

Available variables:

General utility variables:
- base_path: The base URL path of the Drupal installation. At the very least, this will always default to /.
- directory: The directory the template is located in, e.g. modules/system or themes/bartik.
- is_front: TRUE if the current page is the front page.
- logged_in: TRUE if the user is registered and signed in.
- is_admin: TRUE if the user has permission to access administration pages.

Regions:
- content.header: Items for the header region.
- content.content: Items for the main region.
- content.footer: Items for the footer region.

@see template_preprocess()
@see template_preprocess_content()
@see template_process()
@see bartik_process_page()
@see html.tpl.php

@ingroup themeable

#}

{% if content.header %}
  <header role="banner">
    {{ content.header }}
  </header>
{% endif %}

{% if content.main %}
  <main role="main">
    {{ content.main }}
  </main>
{% endif %}

{% if content.footer %}
  <footer role="contentinfo">
    {{ content.footer }}
  </footer>
{% endif %}