{#
/**
 * @file
 * Default theme implementation to present a list of custom block types.
 *
 * Available variables:
 * - types: A collection of all the available custom block types.
 *   Each block type contains the following:
 *   - link: A link to add a block of this type.
 *   - description: A description of this custom block type.
 *
 * @see template_preprocess()
 * @see template_preprocess_custom_block_add_list()
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
  <dl class="node-type-list">
    {% for type in types %}
      <dt>{{ type.link }}</dt>
      <dd>{{ type.description }}</dd>
    {% endfor %}
  </dl>
{% endspaceless %}
